body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.e2e-body {
  display: flex;
  flex-direction: row;
}

#e2e-form {
  margin-right: 20px;
}